.toggle-theme{
  border: none;
  background-color: transparent;
  transition: all .20s ease-in-out;
  width: 50px;
  transform: translate(0,-5%);
}

.toggle-theme.transition{
  transform: translate(-0%, -250%);
}
