.header{
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: var(--background);
  margin: 0;
  padding: 0;
  z-index: 50;
}

.header a{
  color: #4081FF;
}

.navbar-container{
  margin: 0;
  padding: 0;
  border-bottom: 2px solid var(--border);
  height: 84px;
}

.unfocus{
  display: none;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px) opacity(0);
}

.active-unfocus{
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(2px) opacity(1);
  position: absolute;
  display: block;
  z-index: 2;
}

@media screen and (min-width: 800px){
  .active-unfocus{
    display: none;
  }

}

@media screen and (max-width: 800px){
  .nav-menu{
    display: none;
  }
}
