.contact-info{
  padding: 0;
  min-width: 270px;
  font-weight: 400;
  font-size: 12px;
  display: none;
  padding-left: 3.32%;
}

.contact-info div{
  width: 242px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .contact-info {
    display: flex;
  }
}
@media screen and (min-width:1200px) {
  .contact-info{
    font-size: 15px;
    font-weight: 500;
  }  
  .contact-info div{
    width: 270px;
  }
}